doctype html
html(lang="en")
    head
        title= pageTitle
    body
        h1 Artail
        a(href="/auth/facebook")
            img(src="http://school.periclesacademy.org/images/fb_login.png")
